table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input {
    width: auto;
}

.navbar {
    background-color: #002C73;
    color: white;
}

#nav-text {
    color: white;
}

#school-logo {
    width: 25em;
    padding-right: 5em;
}

#nav_spacing {
    padding-top: 95px;
}